.catalog_table>tbody>tr:nth-child(even),
.catalog_table>thead {
  background-color: #eee;
}

.catalog_table {
  margin: 0 auto;
  min-width: 50%;
  max-width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
}

.catalog_table>thead {
  color: #1abc9c;
}

.catalog_table>thead>tr>th {
  border-color: #1abc9c;
  border-width: 2px 2px 1px;
  text-align: center;
}

.catalog_table>tbody>tr>td {
  border-color: #1abc9c;
  border-width: 2px;
  font-size: 14px;
  text-align: center;
}

.subscribe_btn {
  font-size: 14px;
  height: 22px;
  line-height: .1;
}

.user_avatar {
  cursor: pointer;
}
.bg_mask,
body,
html {
  height: 100%;
}

.bg_mask,
.dialog_box {
  position: absolute;
  display: none;
}

body {
  background-image: url("/static/img/bg.gif");
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #333;
}

hr {
  border-top: 1px solid #1abc9c;
}

nav {
  margin: 0 auto;
}

button {
  font-weight: 700!important;
}

.dialog_body,
.dialog_header {
  font-weight: 700;
  border-bottom: 2px solid #1abc9c;
}

table {
  border-color: #1abc9c!important;
  border-width: 2px!important;
}

.navbar {
  border-radius: 0;
  z-index: 998;
}

.navbar-nav>li>a {
  margin-right: 2px;
}

.navbar-nav>li>a:hover {
  color: #fff!important;
  background-color: #1abc9c!important;
}

.navbar-right:last-child {
  margin-right: 0!important;
}

.success_tips {
  color: #1abc9c;
}

.error_tips {
  color: red;
}

.logout_li img {
  max-height: 23px;
}

.bg_mask {
  z-index: 999;
  width: 100%;
  background-color: #000;
  opacity: .6;
}

.dialog_box {
  z-index: 1000;
  margin-left: -200px;
  margin-top: -100px;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 400px;
  border: 2px solid #1abc9c;
  background-color: #fff;
  box-shadow: 5px 5px 5px #333;
}

.dialog_title {
  margin-left: 3px;
}

.dialog_close {
  float: right;
  cursor: pointer;
  width: 31px;
  height: 34px;
  text-align: center;
}

.dialog_close:hover {
  background-color: #f60;
}

.dialog_header {
  background-color: #1abc9c;
  color: #fff;
  font-size: 20px;
}

.dialog_body {
  padding: 5px;
  height: 58%;
}

.dialog_footer {
  padding: 3px;
}

.dialog_footer>button {
  float: right;
  border-radius: 0;
}
.login_form {
  margin: 0 auto;
  min-width: 30%;
  max-width: 40%;
  padding: 10px;
  border: 2px solid #1abc9c;
  border-radius: 6px;
}

.login_form>button {
  min-width: 100%;
}
.register_form {
  margin: 0 auto;
  min-width: 30%;
  max-width: 40%;
  padding: 10px;
  border: 2px solid #1abc9c;
  border-radius: 6px;
}

.register_form>button {
  min-width: 100%;
}
.user_info_table {
  margin: 0 auto;
  min-width: 40%;
  max-width: 50%;
  padding: 10px;
  border: 2px solid #1abc9c;
  border-radius: 6px;
}

.user_info_table span {
  display: inline-block;
  width: 13%;
  text-align: center;
  color: red;
}

.user_info_table input {
  display: inline-block;
  width: 86%;
}

.user_info_table hr {
  border-top: 2px solid #1abc9c;
}

.update_btn_groups {
  text-align: right;
}

.update_btn_groups>a {
  margin-right: 1%;
  font-weight: 700;
}