<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Loading Bootstrap -->
	<link rel="stylesheet" type="text/css" 
		href="{{url_for('static', filename='lib/Flat-UI-2.2.2/css/vendor/bootstrap.min.css')}}">
	<!-- Loading FlatUI -->
	<link rel="stylesheet" type="text/css" 
		href="{{url_for('static', filename='lib/Flat-UI-2.2.2/css/flat-ui.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='build.css')}}">
	{% block title %}
	{% endblock %}
</head>

<body>
	<div class="bg_mask">
	</div>
	<!-- Dialog Box -->
	<div class="dialog_box">
		<div class="dialog_header">
			<span class="dialog_title">提示</span>
		</div>
		<div class="dialog_body">
		</div>
		<div class="dialog_footer">
			<button class="btn btn-primary dialog_confirm">
				确定
			</button>
		</div>
	</div>
	<!-- NavBar -->
	<nav class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
		<!-- NavBar Header-->
		<div class="navbar-header">
			<a href="/" class="navbar-brand">中国好班长</a>
		</div>
		<!-- NavBar Body Left -->
		<ul class="nav navbar-nav navbar-left">
			{% if path == '/login' %}
      <li class="active"><a href="/login">登陆</a></li>
      <li><a href="/register">注册</a></li>
      {% elif path == '/register' %}
      <li><a href="/login">登陆</a></li>
      <li class="active"><a href="/register">注册</a></li>
      {% elif path == '/ucenter' %}
      <li class="active"><a href="/ucenter">个人中心</a></li>
      {% else %}
      <li class="active"><a href="/">订阅</a></li>
      <li><a href="#/latest">
      	动态
      	<span class="navbar-new">1</span>
      </a></li>
      {% endif %}
    </ul>
    <!-- NavBar Body Right -->
    <ul class="nav navbar-nav navbar-right user_bar">
    	{% if user %}
    	<li class="navbar-right logout_li">
    		<a href="#/logout">
    			<img class="logout_img" src="{{url_for('static', filename='img/logout.png')}}" />
    		</a>
    	</li>
    	<li>
			  <a class="user_avatar dropdown-toggle" data-toggle="dropdown">
			    {{user.name}}<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
			    <li><a href="/ucenter">个人中心</a></li>
			    <li class="divider"></li>
			    <li><a href="#/about">关于我们</a></li>
			  </ul>
    	</li>
    	{% endif %}
    </ul>
	</nav>
	<script defer 
		src="{{url_for('static', filename='lib/JQuery/jquery-2.1.4.min.js')}}"></script>
	<script defer type="text/javascript" 
		src="{{url_for('static', filename='js/src/layout.js')}}"></script>
	{% block body %}
	{% endblock %}
	<script defer type="text/javascript" 
	src="{{url_for('static', filename='lib/Flat-UI-2.2.2/js/flat-ui.min.js')}}"></script>
</body>

</html>
