<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='build.css')}}">
	<link rel="stylesheet" type="text/css" 
		href="{{url_for('static', filename='lib/Flat-UI-2.2.2/css/flat-ui.min.css')}}">
	{% block title %}
	{% endblock %}
</head>
{% block body %}
{% endblock %}
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" 
	src="{{url_for('static', filename='lib/Flat-UI-2.2.2/js/flat-ui.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='build.js')}}"></script>
</html>
