/** 
 * Author   : VenDream
 * Email    : yeshenxue@qq.com
 * UpdateAt : 2015-6-11
 */

body {
	background-image: url('/static/img/bg.gif');
	background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #333333;
}

hr {
	border-top: 1px solid #1abc9c;
}

nav {
	margin: 0 auto;
}

.navbar {
	border-radius: 0;
}
