/** 
 * Author   : VenDream
 * Email    : yeshenxue@qq.com
 * UpdateAt : 2015-07-18 11:22:42;
 */

.register_form {
	margin: 0 auto;
	min-width: 30%;
	max-width: 40%;
	padding: 10px;
	border: 2px solid #1abc9c;
	border-radius: 6px;	
}

.register_form > button {
	min-width: 100%;
}
