/** 
 * Author   : VenDream
 * Email    : yeshenxue@qq.com
 * UpdateAt : 2015-6-11
 */

.register_form {
	margin: 0 auto;
	max-width: 30%;
	padding: 10px;
	border: 2px solid #1abc9c;
	border-radius: 6px;	
}

.register_form > button {
	min-width: 100%;
}
